@model Projeto.Models.PaymentMethod
@{
    ViewBag.Title = "PaymentMethodForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>PaymentMethodForm</h2>

@using (Html.BeginForm("Save", "PaymentMethod"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Name)
        @Html.TextBoxFor(m => m.Name, new { @class = "form-control" })
    </div>
    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}
