@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>

<p> Hello World</p>
<input id="mybid" type="text" name="name" value="" />
<button onclick="bid();">Bid</button>
<div id="chartContainer" style="height: 300px; width: 360px;"></div>


    @section scripts {
<script src="~/Scripts/jquery.signalR-2.2.2.min.js"></script>
<script src="~/signalr/js"></script>
<script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>

<script type="text/javascript">
console.log(new Date())
    var points = [
        { 'x': new Date(2000, 0), 'y': 0.65, 'indexLabel': 'John' },
        { 'x': new Date(2000, 1), 'y': -0.8, 'indexLabel': 'Melissa' },
        { 'x': new Date(2000, 2), 'y': -0.9, 'indexLabel': 'John' },
        { 'x': new Date(2000, 3), 'y': -0.25, 'indexLabel': 'John' },
        { 'x': new Date(2000, 4), 'y': -0.01, 'indexLabel': 'John' },
        { 'x': new Date(2000, 5), 'y': -0.27, 'indexLabel': 'John' },
        { 'x': new Date(2000, 6), 'y': 0.24, 'indexLabel': 'John' },
        { 'x': new Date(2000, 7), 'y': 0.06, 'indexLabel': 'John' },
        { 'x': new Date(2000, 8), 'y': 1.37, 'indexLabel': 'John' },
        { 'x': new Date(2000, 9), 'y': -1.35, 'indexLabel': 'John' },
        { 'x': new Date(2000, 10), 'y': -0.72, 'indexLabel': 'John' }
    ];
    var mychart = new CanvasJS.Chart("chartContainer",
        {
            title: {
                text: "Bidding History"
            },
            axisX: {
                //Try Changing to MMMM
                valueFormatString: "MMM"
            },

            axisY: {
                valueFormatString: "0.0#"
            },

            data: [
                {
                    type: "line",
                    lineThickness: 2,
                    dataPoints: points
                }
            ]
        });
    window.onload = function () {
        mychart.render();
    }

    $.connection.hub.start()
        .done(function () {
            console.log("yee");
            $.connection.myHub.server.welcome();
        })
        .fail(function () {
            alert("nooo")
        });

    $.connection.myHub.client.c_announce = function (message) {
        alert(message);
    }

    $.connection.myHub.client.showBidError = function () {
        alert("Bid error");
    }

    $.connection.myHub.client.showWelcomeMessage = function () {
        alert("welcome");
    }

    $.connection.myHub.client.updateBids = function (newBid) {
        console.log(newBid);
        mychart.options.data[0].dataPoints.push({ 'x': new Date(newBid[0]), 'y': parseFloat(newBid[1]), 'indexLabel': newBid[2] });
        mychart.render();
    }

    function bid() {
        var bid = $('#mybid').val();

        $.connection.myHub.server.actualizaBidsNoCliente("client1",bid);

    }
    

</script>




        
    }
