@{
    ViewBag.Title = "Contact";
}

<h2>Contacts</h2>

<address>
    R. de Fundões 151<br />
    3700-121 São João da Madeira<br />
    <abbr title="Phone">Tlf:</abbr>
    256 001 900
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>